.card_outer {
  width: 60%;
  margin: 16px auto;
  border: 2px solid #eee;
  box-shadow: 0 3px 4px #ccc;
  padding: 16px;
  text-align: left;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: large;
}

.card_outer{
  width: 60%;
}

@media (min-width: 700px) {
  .card_outer {
      width: 700px;
  }
}

.img {
  width: auto;
  height: 150px;
  margin-left: 400px;
}